@mixin sidebarItem {
  background: #1b181e;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;

  &:before {
    position: absolute;
    content: '';
    height: 3rem;
    width: 3rem;
    background: transparent;
    right: 0;
    bottom: 100%;
    border-bottom-right-radius: 1.8rem;
    box-shadow: 0 1.6rem 0 #1b181e;
  }

  &:after {
    position: absolute;
    content: '';
    height: 5rem;
    width: 3rem;
    background: transparent;
    right: 0;
    top: 100%;
    border-top-right-radius: 1.8rem;
    box-shadow: 0 -17px 0 #1b181e;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem rem;
  min-width: 2.1rem;
  border-radius: 1rem;
  margin: 1rem;
  padding: 4rem 0 6rem 0;
  background: linear-gradient(179deg, #465d78, #4a4050);
  color: #fff;
  font-size: 1.6rem;

  &__menu {
    align-self: stretch;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-left: 2rem;
    list-style: none;

    &__item {
      position: relative;

      &:hover {
        @include sidebarItem;
      }

      &_active {
        @include sidebarItem;
      }
    }

    &:hover {
      transition: 0.4s;
    }
  }
}
